html {
    // 16 * .625 = 10px
    font-size: 62.5%;
}
body {
    background: $dark-blue;
    font-family: Helvica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}